
.animatedRLinesDiv {
    position: absolute;
    justify-content: center;
    align-items: center;
    }

.animatedRLines {
    position: absolute;
    top: -100%;
    left: 15%;
    background: none;
    opacity: 0.5;
    animation: animatedRLines 8s ease-in-out infinite;
    
    @keyframes animatedRLines {
        0% {
        transform: translateX(0px);
        }
        50% {
        transform: translateX(75px);
        }
        100% {
        transform: translateX(0px);
        }
    }
    }