

.animatedRLines {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: -1100;
    animation: animatedRLines 8s ease-in-out infinite;
    
    @keyframes animatedRLines {
        0% {
        transform: translateX(0px);
        }
        50% {
        transform: translateX(75px);
        }
        100% {
        transform: translateX(0px);
        }
    }
    }